$ui-index-1: 1; // Для наползающих элементов
$ui-index-2: 2; // Для наползающих элементов
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // для сайдбаров
$ui-index-5: 5; // для модальных окон
$ui-index-6: 6; // На всякий случай, перекрыть всё